%h1 Users#index
%p Find me in app/views/users/index.html.haml

- @users.each do |user|
  = user.name
  = user.status
  = user.line_user_id

  = link_to 'この人に質問を送る', user_path(user), method: :put
  %br